<div class="container">


   <div class="img">
    <img [src]="['assets/tulipanes/spydi.jpeg']" alt="">
   </div>

  <p>Spydi te desea los mejores de los éxitos donde sea que estés.
    Spydi también dice:
    Eres realmente increíble como persona, Spydi te admira mucho y jamás te abandonará porque spydi es leal.
  </p>

  <p>
    -Spydi cursi se hace presente- : Ni las más de 3,000 variedades de tulipanes en todo el mundo se compararían con lo variada belleza que desprendes en este mundo.
    Spydi también deja una nota antes de irse y dice: “Así como los tulipanes llenan de color y vida los jardines, cada persona aporta su propia luz y brillo al mundo que la rodea. La diversidad de personalidades, talentos y habilidades es lo que hace que este mundo sea tan interesante y hermoso. Cada uno de nosotros tiene un papel único en este gran escenario de la vida y es ganancia para este mundo tu existencia, las demás no XD”.
    <br>
    <br>
    Spydi se va*
  </p>

</div>
