<div class="container">

  <div class="flower">
    <div class="title-flower">flower</div>
    <img [src]="tulipan?.img" alt="">
  </div>
  <div class="title-information">
    Frases Mamalonas
    <div class="flower">
      <hr>
      <p>
        Los tulipanes, exquisitas flores pertenecientes a la familia de las Liliáceas, deslumbran con su belleza y gracia. Originarios de regiones de Asia Central y Turquía, estos bulbos florales han conquistado corazones en todo el mundo. Su distintiva forma en copa y una rica paleta de colores, que abarca desde los rojos más apasionados hasta los blancos más puros, los convierte en una elección icónica para jardines y arreglos florales. La temporada de floración en primavera anuncia la llegada de tiempos más cálidos y brillantes. Asimismo, los tulipanes han tejido su simbolismo en las páginas de la historia, siendo emblemas de amor y admiración. Su fácil cuidado y su habilidad para adaptarse a diversos ambientes hacen que sean populares tanto en jardines a gran escala como en macetas. Con una larga tradición y una rica diversidad, los tulipanes siguen cautivando con su elegancia atemporal y su capacidad para alegrar cualquier espacio.</p>
      <button [routerLink]="['/tulipanes/todos']">Regresar</button>

    </div>
  </div>
</div>

